body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, #ff9a9e, #fad0c4);
color: #333;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}


.card {
background: rgb(250, 4, 250);
max-width: 600px;
padding: 2rem;
border-radius: 20px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
text-align: center;
}


h1 {
color: #eb0101ee;
font-size: 2.5rem;
margin-bottom: 0.5rem;
}


h2 {
font-weight: normal;
color: #e40044;
margin-bottom: 1.5rem;
}


p {
font-family: Arial, Helvetica, sans-serif;
line-break: auto;
margin-bottom: 1.2rem;
}


.heart {
font-size: 3rem;
animation: beat 1.5s infinite;
}


@keyframes beat {
0%, 100% {
transform: scale(1);
}
50% {
transform: scale(1.2);
}
}


footer {
margin-top: 2rem;
font-size: 0.9rem;
color: #e70303;
}